@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
margin: 0;
padding: 0;
font-family: 'Oswald', sans-serif;
color: rgb(0, 0, 0);
}
   /* Header */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    background-image: url(bela-via-lactea-no-ceu-noturno.jpg);
    background-repeat:none;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-midia a {
    margin-top: 1rem;
    display: flex;
}

.social-midia a {
    text-decoration: none;
    color: black;
    padding: 1rem 4rem;
    border: 1px solid black;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: rgb(8, 8, 8);
}
/* MENU */

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
height: 100px;
width: 100px;
position: absolute;
right: 0;
top: 0;
display: flex;
justify-content: center;
cursor: pointer;
z-index: 9999;
transition: 400ms ease-in-out 0s;
}

.checkbox-trace{
    width: 50px;
    height: 2px;
    background-color: transparent color(black);
    position: absolute;
    border-radius: 4px;

    transition: 0.5s ease-in-out;
}

.checkbox-trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox-trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox-trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

.toggle {
    display: none;
}

 .menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
 }

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;

}

.menu-items ul li a {
    margin: 10px 0;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

    #toogle:checked + .checkbox .trace:nth-child(1){
        transform: rotate(45deg);
        top: 47px;
    }

    #toogle:checked + .checkbox .trace:nth-child(2) {
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }

    #toogle:checked + .checkbox .trace:nth-child(3){
        transform: rotate(45deg);
        top: 48px;
    }

    #toggle:checked + .checkbox {
        background-color: white;
    }

    #toggle:checked ~ .menu {
        box-sizing: 0px 0px 0px 100vmax white;
        z-index: 1;
    }

    #toggle:checked ~ .menu-items {
        visibility: visible;
        opacity: 1;
    }